<div class="container mt-3">
  <div class="form-section">
    <!-- {{foodItemForm.value | json}} {{location.valid}} -->
    <form [class.form-none]="!isFormVisible" [formGroup]="foodItemForm" (ngSubmit)="onSubmitFoodItem()">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="itemName">Item Name</label>
        <div class="col-md-10">
          <input [class.is-invalid]="itemName.invalid && itemName.touched" formControlName="itemName" type="text" id="itemName"
            class="form-control">
          <div *ngIf="itemName.invalid && itemName.touched">
            <small *ngIf="itemName.errors?.required" class="text-danger">Item name is required !</small>
            <small *ngIf="itemName.errors?.pattern" class="text-danger">Item name except contains digits !</small>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="itemType">Item Type</label>
        <div class="col-md-10">
          <input [class.is-invalid]="itemType.invalid && itemType.touched" formControlName="itemType" type="text" id="itemType" class="form-control">
          <div *ngIf="itemType.invalid && itemType.touched">
              <small *ngIf="itemType.errors?.required" class="text-danger">Item type is required !</small>
              <small *ngIf="itemType.errors?.pattern" class="text-danger">Item type except contains digits !</small>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="restaurantName">Restaurant Name</label>
        <div class="col-md-10">
          <input [class.is-invalid]="restaurantName.invalid && restaurantName.touched" formControlName="restaurantName" type="text" id="restaurantName" class="form-control">
          <div *ngIf="restaurantName.invalid && restaurantName.touched">
              <small *ngIf="restaurantName.errors?.required" class="text-danger">Restaurant name is required !</small>
              <small *ngIf="restaurantName.errors?.pattern" class="text-danger">Restaurant name except contains digits !</small>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="location">Location</label>
        <div class="col-md-10">
          <input [class.is-invalid]="location.invalid && location.touched" formControlName="location" type="text" id="location" class="form-control">
          <small [class.d-none]="location.valid || location.untouched" class="text-danger">Location is required !</small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="price">Price</label>
        <div class="col-md-10">
          <input [class.is-invalid]="price.invalid && price.touched" formControlName="price" type="text" id="price" class="form-control">
          <div *ngIf="price.invalid && price.touched">
              <small *ngIf="price.errors?.required" class="text-danger">Price is required !</small>
              <small *ngIf="price.errors?.min" class="text-danger">Price must be > 0 !</small>
              <small *ngIf="price.errors?.pattern" class="text-danger">Price contains only digits !</small>
            </div>
        </div>
      </div>
      <button [disabled]="foodItemForm.invalid" type="submit" class="btn btn-primary float-right">Add This Item</button>
    </form>

    <button (click)="toggleForm(this.formControlButton)" class="btn btn-secondary form-control-button">{{formControlButton}}</button>

  </div>

  <div class="food-content-box mt-5">
    <div class="food-content-title">
      <h1 class="text-center text-capitalize">List of All The good mood foods</h1>
    </div>
    <hr />
    <div class="row">
      <div *ngFor="let item of listOfItem" class="col-md-6 mb-3">
        <div class="item-box text-center">
          <h4 class="text-capitalize">{{item.itemName}}</h4>
          <h5 class="text-capitalize">( {{item.itemType}} )</h5>

          <p class="text-capitalize">At {{item.restaurantName}}, {{item.location}}</p>
          <p class="text-capitalize">{{item.price}} Tk</p>
          <div class="vote-box">
            <span>{{item.vote > 0 ? '+' + item.vote : item.vote}} votes</span> 
            <button (click)="like(item.itemName)" class="btn btn-primary ml-2">+</button>
            <button (click)="dislike(item.itemName)" class="btn btn-danger ml-2">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
